
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: rgb(65, 144, 170);
}


img.logo,
.icon {
  width: 80px;
}

img.card {
  width: 150px;
}

#hero-img {
  width: 100%;
}

main {
  text-align: center;
}

#content {
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
}

header {
  background-color: #c4b6a1;
}

h1 {
  text-align: center;
  color: #8D3C70;
  font-weight: 300;
  font-size: 80px;
}

#hero-msg h1 {
  text-align: center;
  background-color: rgb(65, 144, 170);
}

#hero-msg h4 {
  text-align: center;
}

#background {
  height: 725px;
}

.book,
.join {
  background-color: rgb(65, 144, 170);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: rgb(151, 93, 151);
}

nav a {
  background-color: rgb(65, 144, 170);
  color: black;
  text-align: center;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  color: aliceblue;
  text-decoration: underline;
}

footer {
  background-color: #c4b6a1;
  text-align: center;
  font-size: 1.2em;
  padding: 20px 0;
}

footer a {
  color: black;
}

footer p a:hover {
  text-decoration: underline;
}

footer:hover {
  background-color: aquamarine;
}

.button-box {
  text-align: center;
}

section {
  text-align: center;
}
