@import url('https://fonts.googleapis.com/css2?family=Delius&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(65, 144, 170);
  font-family: 'Delius', 'Funnel Sans', 'Lexend', sans-serif;
  font-size: 22px;
  text-align: center;
}

#content {
  margin: 0 auto;
  max-width: 1600px;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #c4b6a1;
  align-items: center;
}

#logo_link .logo {
  width: 80px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  background-color: #c4b6a1;
  color: black;
  padding: 35px;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
  color: #d9c2a3;
}

footer {
  background-color: #c4b6a1;
  text-align: center;
  font-size: 1.2em;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

footer .social img {
  width: 50px;
  height: 50px;
  padding-top: 15px;
}

/* Form Styling */
form {
  display: inline-block;
  margin-top: 50px;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #fff;
}

label {
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  padding: 0.5em;
  border: 1px solid #999;
  margin-left: 1em;
}

input:focus, textarea:focus {
  outline: 2px solid #000;
}

textarea {
  height: 5em;
}

button {
  margin-top: 1em;
  padding: 0.7em 1.5em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(19, 23, 24);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(151, 93, 151);
}

#feedback {
  background-color: antiquewhite;
  padding: 1em;
  margin-top: 2em;
  border: 1px solid #ccc;
  border-radius: 1em;
  display: none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.moveDown {
  margin-top: 3em;
}

/* Mobile Responsive */
@media screen and (max-width: 900px) {
  nav, footer {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 15px;
  }

  footer {
    margin-top: 25px;
  }
}
